@import 'src/global/global';

.qa-header {
  position: fixed;
  width: 100%;
  border-radius: 14px 14px 0px 0px;

  height: 68px;
  z-index: 10;
  background-color: $white;

  max-width: 590px;
  margin-left: 4px !important;
  margin-top: 0px !important;
  margin-bottom: 8px !important;

  .qa-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 28px;
    width: 100%;
    .close-cross-btn {
      padding: 14px;
      border-color: white;
      border-width: 0px;
      box-shadow: none;
    }
  }
}

.qa-body {
  margin-top: 58px;
  margin-bottom: 104px;
}

@media (max-width: 600px) {
  .MuiPaper-root {
    margin-left: 8px !important;
    margin-right: 8px !important;
    max-width: 590px;
  }
  .qa-header,
  .qaadd {
    width: calc(100% - 24px);
  }
}
