@import 'src/global/global';

.qa-header {
  width: 100%;

  z-index: 10;
  background-color: $white;

  max-width: 590px;
  padding: 0 8px;
  margin-bottom: 10px;

  .qa-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 38px;
    width: 100%;
    .close-cross-btn {
      margin: 0 5px 0 0;
      border-color: white;
      border-width: 0px;
      box-shadow: none;
    }
  }
}

.qa-body {
  overflow-y: auto;
  margin-right: 8px;
}

@media (max-width: 600px) {
  .MuiPaper-root {
    margin-left: 8px !important;
    margin-right: 8px !important;
    max-width: 590px;
  }
  .qaadd {
    width: calc(100% - 8px);
  }
}
