.dialog {
    :global(.MuiDialog-container) {
        align-items: flex-end;

        :global(.MuiPaper-root) {
            border-radius: 15px 15px 0 0;
            width: 100%;
            max-height: 700px;
        }
    }

    @media (min-width: 800px) {
        :global(.MuiDialog-container) {
            align-items: center;
    
            :global(.MuiPaper-root) {
                border-radius: 15px;
            }
        }
    }

    .bodyButton {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr min-content;
    }

    .noQuestions {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px;
        text-align: center;
    }
}
