:root {
    --page-main-color: #E5E5E5;
    --page-sidebar-color:  #22313F;
    --page-active-button-color: #59D0A5;
    --page-profile-color: #663999;
    --page-default-color:  #F6F4F8;

    ;
  }
   
  a {
    text-decoration: none;
  }
   
  button {
    background: none;
    cursor: pointer;
  }
   
  input {
    -webkit-appearance: none;
  }
   
  * {
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
    padding: 0;
  }
  body {
    /* width: 1920px;
    height: 1205px; */
    background: #FFFFFF;
    font-family: Rubik;
  }

  .dashboard-page {
    padding: 10px;
    height: 100%;
    width: 100%;
  }

  .page-header {
    position: fixed;
    top: 0;
    left: -1px;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-top: 20px;
    width: 161px;
    background: var(--page-sidebar-color);
  }
   

  .page-content {
    background: #fff;
  }

  .search-and-user {
    display: flex;
    justify-content: flex-end;
    grid-column-gap: 25px;
    align-items: center;
    background: #fff;
  }
   
  .search-and-user .search-bar {
    position: relative; 
  }

  #searchQueryInput {
    width: 396px;
    height: 45px;
    right: 119px;
    top: calc(50% - 45px/2 - 554px);
    background: #F6F4F8;
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 12px;
    line-height: 14px;

  }

  #searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }
  
  #searchQuerySubmit:hover {
    cursor: pointer;
  }
     
  .search-and-user .user-profile {
    display: flex;
    align-items: center;
  }
    
  .search-and-user .user-profile .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    top: calc(50% - 45px/2 - 554px);
    border-radius: 50%;
    font-size: 10px;
    color: var(--page-default-color);
    background: var(--page-profile-color);
  }

  .search-and-user .user-profile .avatar:hover{
    cursor: pointer;
  }
  
  .presentations-section{
    position: absolute;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 380px;
    right: 138px;
    
  }
  .presentations-section .above-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .presentations-section .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  
  .presentations-section .grid {
      grid-template-columns: repeat(5, 1fr);
    }

  .column {
    background-color: var(--page-main-color);
    float: left;
    padding: 10px;
    margin: 2px;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .table-grid-toggler{
    display: flex;
  }
  .table-grid-toggler .view-btn{
    color:  var(--page-main-color);
    margin: 5px;
  }

  .table-grid-toggler .view-btn-active{
    color:  var(--page-active-button-color);
    margin: 5px;
  }
