@import "src/global/global";

.sidebar {
    height: 100vh;
    width: 100%;
    padding-top: 24px;
    background-color: $dark-color;
    text-align: center;
    .logo {
        a {
            img {
                width: 65.03px;
                height: 44px;
            }
        }
    }
}

.navigation {
    display: flex;
	margin-top: 50px;
    flex-direction: column;
    align-items: center;

    .addIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 30px;
        margin-bottom: 40px;
        background-color: $main-color;
        border-radius: 50%;
        padding: 14px;
    }

    .sideIcon, .disableIcons {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        margin-bottom: 40px;
        background-color: #293948;
    }

    .sideIcon:hover svg path {
        stroke: #59D0A5;  
    } 

    .selectedIcon path {
        stroke: #59D0A5;
    }

    .sideIcon:hover {
        cursor: pointer;
        background-color: rgba(89, 208, 165, 0.2);
    }

    .label {
        position: absolute;
        margin-top: 14px;
        margin-left: 17px;
    }

    .sideIcon:hover .tooltiptext, 
    .addIcon:hover .tooltiptext, 
    .disableIcons:hover .tooltiptext {
        visibility: visible;
    }

    .tooltiptext {
        font-size: 14px;
        visibility: hidden;
        left: 8.5%;
        width: 100px;
        background-color: $light-color;
        border: 1px solid $dark-color;
        font-size: 13px;
        color: $black;
        text-align: center;
        border-radius: 6px;
        padding: 5px 3px;
        position: absolute;
        z-index: 1;
    }
}