@import "src/global/global";

.sidebar {
    height: 100vh;
    width: 100%;
    padding-top: 24px;
    background-color: $dark-color;
    text-align: center;
    .logo {
        a {
            img {
                width: 65.03px;
                height: 44px;
            }
        }
    }
}

.navigation {
    display: flex;
	margin-top: 50px;
    flex-direction: column;
    align-items: center;

    .addIcon {
        display: block;
        background-size: 30px;
        margin-bottom: 40px;
    }

    .sideIcon {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        margin-bottom: 40px;
        background-color: #293948;

        img:active {
           filter: invert(0.08) sepia(1) saturate(14.1) hue-rotate(82.8deg) brightness(0.91);
        }
    }

    .sideIcon:hover {
        background-color: rgba(89, 208, 165, 0.2);
    } 

    .label {
        position: absolute;
        margin-top: 14px;
        margin-left: 17px;
    }

    .sideIcon:hover .tooltiptext, .addIcon:hover .tooltiptext{
        visibility: visible;
    }

    #my_presentation:focus {
        fill: $light-color;
    }

    .tooltiptext {
        visibility: hidden;
        left: 10%;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
    }
}