@import "src/global/global";

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    line-height: 16px;
    color: $light-color;
    background: $accent-color;
}