@import 'src/global/global';

.wrapper {
  display: flex;
  background-color: #f6f4f8;
  border-radius: 37px;
  padding: 50px;
  height: 80hv !important;
}

.wrapped-component {
  flex: 1;
  background-color: white;
}

.interactive-wrapper-sidebar {
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 256px;
  max-width: 270px;
  align-items: center;
  padding-left: 50px;
}

.container-with-centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-holder {
  font-size: 34px;
  font-weight: 400;
  word-wrap: break-word;
  color: $black;
  text-align: center;
}

.link-domain {
  color: $black;
  font-weight: bold;
}

.link-code {
  color: #663999 !important;
  font-weight: bold;
  padding-bottom: 2rem;
}

.qr-code-holder {
  background-color: $light-color;
  border-radius: 20px;
}

.qr-code {
  flex-shrink: 1;
  margin: 0.3rem;
}
