@import "src/global/global";

.wrapper {
    display: flex;
    width: 100%;
    background-color: $grey-color;
}

.wrapped-component {
    flex: 1;
    margin-right: 15px;
    margin-left: 10px;
}

.interactive-wrapper-sidebar{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.interactive-wrapper-sidebar > div {
    width: 80%;
    max-width: 80%;
}

.qr-code-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-color;
    padding: 5%;
    border-radius: 20px;
}

.link-holder{
    font-size: 34px;
    word-wrap: break-word;
    color: $light-color;
    text-align: center;
}
