.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  font-size: 3rem;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 3rem;
  .spinner-icon {
    text-align: center;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
