@import "src/global/global";

.q-and-a {
    margin: 60px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    overflow: auto;
    .noQuestions {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px;
        text-align: center;
        height: calc(100vh - 300px);
        padding-bottom: 30px;
        font-size: 21px;
    }

    .question-container {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        .avatar-and-nick-holder {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 350;
            margin-bottom: 10px;
            .nickname {
                margin-left: 5px;
            }
        }
        .row-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;
            .question {
                font-size: 16px;
                font-weight: 500;
            }
            .like {
                display: flex;
                align-items: center;
                color: $main-color;
                padding-right: 15px;
                font-size: 14px;
                font-weight: 400;
                border: none;
                img {
                    margin: 0 5px;
                    width: 16px;
                }
            }
        }
        .separator {
            width: 100%;
            border-bottom: solid 1px $light-grey;
            position: relative;
        }
    }
    
}

.q-and-a-header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    .top-questions,
    .question-count {
        font-size: 18px;
        font-weight: 400;
        margin-left: 10px;
    }
    .question-count {
        color: $main-color;
        font-size: 16px;
    }
}

