@import "src/global/global";

.addon-components {
    margin: 1rem;
    display: block;
    h2 {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .menu-list {
        .list-elements{
            padding-left: 2rem;
            .list-items {
                display: flex;
                border: none;
                background: none;
                width: 100%;
                margin-bottom: 10px;
                padding: 15px;
                background-color: $light-color;
                border-radius: 10px;
                cursor: pointer;
                img {
                    margin-right: 10px;
                }
                .text {
                    font-size: 12px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .subtext {
                    font-size: 12px;
                    color: #a6a6a6;
                    white-space: nowrap;
                }
            }
        }
        .list-items {
            display: flex;
            border: none;
            background: none;
            width: 100%;
            margin-bottom: 15px;
            padding: 15px;
            background-color: $light-color;
            border-radius: 5px;
            cursor: pointer;
            img {
                margin-right: 10px;
            }
            .text {
                font-weight: 500;
                font-size: 14px;
                max-width: max-content;
            }
            .arrow-icon {
                cursor: pointer;
                color: #59D0A5;
                margin-left: 140px;
                .hide-icon {
                    display: none;
                    color: $mint
                }
                .hide-icon{
                    display: none;
                    color: $mint
                
                }
            }
        }
    }
    .show-menu {
        max-height: max-content;
    }
    .hide-menu {
        max-height: 235px;
        overflow: hidden;
    }
    .button-show-hide-elements {
        padding-left: 2rem;
        
    }
}
