@import "src/global/global";

.app {
    margin: 0.5rem 1rem 1rem 1rem;
}

.text-input {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 14px;
    margin: 0 0 5px 0;
    .check-icon {
        color: $main-color;
        margin-right: 5px;
    }
}
.poll-name {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 14px;
    margin:0 10px;
    width: 100%;
}

.label {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 12px;
    display: block;
    font-style: normal;
}

.title-label {
    margin-top: 20px;
}

.svg-icon {
    color: $main-color; 
}

.back-button {
    color: $main-color;
    background-color: $white;
    border: 0px $white solid;
    margin-bottom: 1rem;
}

.input {
    font-size: 14px;
    font-family: "Rubik";
    border-radius: 50px;
    border: 1px $light-color solid;
    background-color: $light-color;
    color: rgba(#1d1d1d, 0.5);
    padding: 13px 10px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
}

.input:focus {
    outline: none;
    border: 1px $mint solid;
    background-color: $light-grey;
}

.input::placeholder {
    color: $grey;
}

.title-input {
    width: 100%;
    margin-bottom: 6px;
}
.btn-submit {
    border: 2px $main-color solid;
    color: $white;
    background-color: $main-color;
    font-family: "Rubik";
    font-weight: 500;
}

.options button {
    margin: 20px 0;
    padding: 12px 20px;
    border-style: none;
    border-radius: 25px;
    background-color: $main-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
}

.btn-add-option {
    margin: 20px 0;
    padding: 12px 20px;
    border-style: none;
    background-color: $white;
    font-family: "Rubik";
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    color: rgba(102, 102, 102, 0.7);
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    .add-option-icon {
        border-radius: 26px;
        color: $white;
        background-color: rgba(102, 102, 102, 0.7);
        padding: 1px 4px 1px 4px;
        margin: 3px 10px 5px 0px;
    }
}
.btn-add-option::hover {
    cursor: pointer;
}
.options {
    display: flex;
    align-items: center;
    .option-label {
        margin: 18px 0px 5px 0px;
    }
    .options-btn {
        width: 25px;
        margin: 22px 5px 3px 5px;
        padding: 5px;
        text-align: center;
    }
}
