$grey: rgba(40, 40, 40, 0.5);
$mint: #59D0A5;
$light-grey: #eeeeee;
$white: white;
$black: #222222;
$error: #f73b48;
$error-background: #ffb8bc;
$grey-color: #888888;
$grey-text: rgba(102, 102, 102, 0.7);

$light-color: #F6F4F8;
$dark-color: #22313F;
$main-color: #59D0A5;
$accent-color: #663999;
