$grey: rgba(40, 40, 40, 0.5);
$mint: #59D0A5;
$light-grey: #eeeeee;
$white: white;
$black: #222222;
$error: #f73b48;
$error-background: #ffb8bc;
$grey-color: #888888;
$hover-color:#66399933;
//$main-color: #E5E5E5;
//$dark-blue: #22313F;

$light-color: #F6F4F8;
$dark-color: #22313F;
$main-color: #59D0A5;
$accent-color: #663999;
$mouse-hover-color: #F8F9FA;
