@import "src/global/global";

.user-profile {
    display: flex;
    align-items: center;
    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 43px;
        height: 43px;
        top: calc(50% - 45px / 2 - 554px);
        border-radius: 50%;
        font-size: 14px;
        color: $light-color;
        background: $accent-color;
        &:hover {
            cursor: pointer;
        }
    }
}

.MuiDialog-paper {
    margin: 32px;
    position: relative;
    overflow-y: auto;
    border-radius: 15px;
}

.MuiDialog-paperScrollPaper {
    display: flex !important; 
    max-height: calc(100% - 64px) !important;
    flex-direction: column;
    border-radius: 15px !important;
}

.edit-profile {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 877px;
    border-radius: 15px;
    .side-btns {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        .window-name {
            width: 132px;
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            padding-top: 19px;
            padding-bottom: 39px;
        }
        button {
            text-transform: none;
            border-radius: 50px;
            margin: 6px;
            padding: 5px 15px;
            margin-left: 0;
            font-size: 18px;
            font-weight: 500;
            background: rgba(89, 208, 165, 0.15);
            color: #59D0A5;
            justify-content: flex-start;
            align-items: center;
            width: 197px;
            height: 40px;
            border: none;
            box-shadow: none;
            outline: none;
            .button-icon {
                margin-right: 11px;
                margin-left: 8px;
            }
            &:last-child {
                background: none;
                color: $grey;
            }
            &:last-child:hover {
                background: $hover-color;
            }
        }
        
    }
    .left-content {
        background-color: #eeeeee;
        padding-top: 39px;
        padding-left: 47px;
        min-width: 291px;
        flex: 0 0 291px;
        .left-content-fixed {
            position: fixed;
            width: 291px;
        }
    }
    .right-content {
        min-width: 583px;
        padding-left: 47px;
        .form-title {
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            margin-top: 100px;
        }
        .avatar-edit-profile {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 102px;
            height: 102px;
            margin-top: 20px;
            border-radius: 50%;
            font-size: 50px;
            color: $light-color;
            background: $accent-color;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .MuiButton-root {
        padding: 0;
        min-width: 0;
    }
    .close {
        width: 35px;
        height: 35px;
        border-radius: 50px;
        cursor: pointer;
        float: right;
        top: 24px;
        right: 14px;
        font-size: 17px;
        min-width: 35px;
        flex: 0 0 35px;
        .close-icon {
            color: $black;
            position: fixed;
        }
    }
}
