@import "../../../../slidez-fe-core/src/global/global";

.poll {
    height: 100%;
    border-radius: 10px;

    &-header {
        display: flex;
        justify-content: space-between;
        padding: 20px 15px;
        border-bottom: 2px solid $grey;
    }
    &-name {
        font-weight: bold;
    }
    &-options {
        padding: 25px;
    }
    &-option {
        margin-bottom: 25px;

        &-votes {
            display: flex;
            margin-top: 5px;
        }
        &-bar {
            min-width: 30px;
            background-color: $grey;
            border-radius: 10px;
        }
        &-percent {
            margin-left: 10px;
        }
        &-winner &-bar {
            background-color: $light-green;
        }
        &-winner &-percent {
            color: $light-green;
        }
    }
}
