@import 'src/global/global';

.q-and-a-header {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.q-and-a-icon {
    color: $main-color;
    width: 24px;
    height: 24px;
}

.top-questions {
    margin-left: 8px;
    margin-right: 8px;
}

.question-count {
    color: $main-color;
}

