@import "src/global/global";

.participant-header {
    background-color: $dark-color;
    position: fixed;
    top: 5px;
    width: 100%;
    .logo {
		a {
			img {
				width: 65.03px;
				height: 44px;
			}
		}
	}
}

