div {
    --grey: #999999;
    --mint: #4af092;
    --light-grey: #eeeeee;
    --white: white;
}

.sign-form {
    font-family: 'Rubik', serif;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form-row {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.no-account {
    color: var(--grey);
    font-size: 18px;
    margin-right: 5px;
}

.link {
    color: var(--mint);
    font-size: 18px;
    text-decoration: none;
}

.form-input-holder{
    display: flex;
    flex-direction: column;
}

.form-input{
    font-family: 'Rubik', serif;
    font-size: 16px;
    border-radius: 15px;
    border: 2px var(--light-grey) solid;
    background-color: var(--light-grey);
    height: 30px;
    text-indent: 10px;
}

.form-input:focus{
    outline: none;
    border: 2px var(--mint) solid;
}

.form-input::placeholder{
    color: var(--grey);
}

.label {
    font-size: 16px;
    margin-bottom: 5px;
}

.row-with-components-on-opposite-sides{
    display: flex;
    justify-content: space-between;
}

.form-button {
    width: 100%;
    font-family: 'Rubik', serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    border: 2px transparent solid;
}

.form-button:hover{
 cursor: pointer;
}

.login-button{
    background-color: var(--mint);
    color: var(--white);
}

.login-with-google-button{
    border: 2px var(--mint) solid;
    color: var(--mint);
    background-color: var(--white);
}

.button-divider{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: var(--grey);
}

.button-divider::before,
.button-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--grey);
}

.button-divider:not(:empty)::before {
    margin-right: .25em;
}

.button-divider:not(:empty)::after {
    margin-left: .25em;
}

.input-with-icon-holder{
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-with-icon{
    padding-right: 40px;
}

.input-icon{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    color: var(--grey);
}

.input-icon:hover{
    cursor: pointer;
    color: black;
}