@import '../../../global/global.scss';
$likebtnwidth: 62px;

.card {
  margin: 5px 0 5px 8px;
  display: flex;
  flex-direction: row;
  background: #f6f4f8;
  border-radius: 5px;
  justify-content: space-between;
}

.author {
  margin: 13px 0 5px 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #7b7a7c;
}

.qa-question-content {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin: 0 5px 10px 13px;
  color: #353535;
  word-wrap: break-word;
  word-break: break-all;
}

.element-in-stack-holder {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.change-visibility-icon {
    height: 18px;
    width: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
}

.moderation-like-count-holder {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    font-weight: 300;
    font-size: 18px;
    color: $main-color;
}

.change-visibility-icon:hover {
    cursor: pointer;
}

.like-btn {
  color: $main-color;
  background-color: $white;
  border-radius: 25px;
  border: none $white;
  width: $likebtnwidth;
  height: 35px;
  margin: 12px 11px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .liked-icon {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    margin-top: -2px;
  }

  .unliked-icon {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    margin-top: -2px;
  }


  &:hover {
    .unliked-icon {
      background-image: url('../../../assets/svgs/thumbs-up-solid.svg');
    }  
  }
  .unliked-icon:focus {
    background-image: url('../../../assets/svgs/thumbs-up-solid.svg');
  }
}
#thumbs-up-solid {
  color: #59d0a5;
}
