@import 'src/global/global';

.selector-panel {
  display: flex;
  width: 100%;
  padding-left: 10px;
  justify-content: space-between;
  flex: 0 0 30px;

  .selector-button {
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    min-width: 64px;
    padding: 5px 10px;
    width: 90px;
  }
  .selected-button {
    border: 2px $main-color solid;
    color: $white;
    background-color: $main-color;
  }
  .unselected-button {
    border: 2px $main-color solid;
    color: #7b7a7c;
  }
  .questions-counter {
    font-weight: 500;
    font-size: 12px;
    color: #7b7a7c;
    padding-right: 10px;
    padding-top: 5px;
  }
}
